.portfolio {
    background-color: var(--first-gradient);
}

.portfolio__list{
    display: flex;
    justify-content: center;
    column-gap: 40px;
    margin-bottom: 60px;
}

.portfolio__list-item{
    color: var(--title-color);
    font-size: var(--tiny-font-size);
    font-weight: 700;
    position: relative;
    transition: all 0.7s var(--transition);
}

.portfolio__list-item::before{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -12px;
    left: 0;
    transition: all 0.3s var(--transition);
}

.active-work{
    color: var(--primary-color);
}

.active-work::before,
.portfolio__list-item:hover::before {
    width: 40px;
}

.portfolio__container{
    /* grid-template-columns: repeat(3, 1fr);
    gap: 40px; */
}

.portfolio__img-wrapper{
    border-radius: 18px;
    overflow: hidden;

}

.portfolio__img{
    /* height: 240px; */
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    transition: all 0.6s var(--transition);
}

.portfolio__items:hover .portfolio__img{
    transform: scale(1.04);
}

.portfolio__category{
    color: var(--primary-color);
    font-size: var(--tiny-font-size);
    font-weight: 700;
    margin-bottom: 5px;
    display: block;
}

.portfolio__category,
.portfolio__description{
    margin-top: 30px;
}

.portfolio__title{
    font-size: var(--h4-font-size);
}

.portfolio__description{
    min-height: 125px;
}

@media only screen and (max-width: 468px) {
    .portfolio__items {
        width: 80%; /* En dispositivos móviles, ocupa todo el ancho disponible */
        margin: auto;
        height: 100%;
      }

      .portfolio__list{
        display: flex;
        justify-content: center;
        column-gap: 10px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
    }
  }

  @media only screen and (min-width: 768px) {
    .portfolio__container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; /* Ajusta el espacio entre los elementos según sea necesario */
      }
      
      .portfolio__items {
        width: calc(40% - 20px); /* Ajusta el ancho según el número de elementos por fila y el espacio entre ellos */
        box-sizing: border-box; /* Evita que el padding y el borde afecten el ancho real del elemento */
        margin-bottom: 20px; /* Ajusta el espacio entre las filas según sea necesario */
        margin: auto;
      }


  }

  @media only screen and (min-width: 1024px){
    .portfolio__container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; /* Ajusta el espacio entre los elementos según sea necesario */
      }
      
      .portfolio__items {
        width: calc(30% - 20px); /* Ajusta el ancho según el número de elementos por fila y el espacio entre ellos */
        box-sizing: border-box; /* Evita que el padding y el borde afecten el ancho real del elemento */
        margin-bottom: 20px; /* Ajusta el espacio entre las filas según sea necesario */
        margin: auto;
      }
  }

