.skills{
    background-color: var(--third-gradient);
}

.skills__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Ajusta el espacio entre los elementos según sea necesario */
  }
  
  .skills__item {
    width: calc(30% - 20px); /* Ajusta el ancho según el número de elementos por fila y el espacio entre ellos */
    box-sizing: border-box; /* Evita que el padding y el borde afecten el ancho real del elemento */
    margin-bottom: 20px; /* Ajusta el espacio entre las filas según sea necesario */
    margin: auto;
  }

.skills__titles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

}

.skills__name{
    font-size: var(--h1-font-size);
}

.skills__number{
    color: var(--title-color);
    font-weight: 700;
}

.skills__number span{
    color: var(--primary-color);
}

.skills__description{
    margin-bottom: 30px;
}

.skills__bar,
.skills__percentage{
    height: 2px;
}

.skills__bar{
    background: rgba(255, 255, 255, 0.2);
}

.skills__percentage{
    display: block;
    background-color: var(--primary-color);
}

@media only screen and (max-width: 768px) {
    .skills__item {
      width: 80%; /* En dispositivos móviles, ocupa todo el ancho disponible */
    }
  }